.cover {
  background-size: cover;
  height: 100vh;
  color: var(--white-font);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: var(--global-padding);
  position: relative;
  top: var(--header-offset) !important;
}

.cover h1 {
  font-weight: 400;
  font-size: 6vw;
  margin-bottom: 0;
}

.cover h2 {
  font-size: 1.5vw;
  font-family: "Bruno Ace";
  font-weight: 500;
}

.scrolldown-indicator {
  animation: bounce 2s ease infinite;
  display: inline-block;
  margin: 0 5% 1% 0;
  left: 45%;
  text-align: center;
  height: 3rem;
  position: relative;
  top: 15vh;
}

.scrolldown-indicator p {
  font-family: "Bruno Ace";
  font-size: 1.5vw;
  padding-bottom: 5%;
}

.scrolldown-indicator a {
  color: var(--white-font);
  font-size: 2rem;
  font-weight: 700;
}

.scrolldown-indicator a:hover {
  cursor: pointer;
}

@keyframes bounce {
  50% {
    transform: translateY(-50%);
  }
}

@media only screen and (max-width: 768px) {
  .cover h1 {
    font-size: 3rem;
    text-align: center;
  }

  .cover h2 {
    font-size: 1.2rem;
    align-items: center;
  }
  .scrolldown-indicator p {
    font-size: 1.5rem;
  }

  .scrolldown-indicator a {
    font-size: 1.5rem;
  }
  .scrolldown-indicator {
    padding: 0;
    animation: bounce 2s ease infinite;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;
    left: 0%;
  }
}
