.portofolio-container {
  margin-top: 10%;
  min-height: 50vh;
  background-size: cover;
  padding: var(--global-padding);
}

.portofolio-container h1 {
  align-self: flex-end;
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 5%;
}

.portofolio-item-wrapper {
  justify-content: space-around;
  width: 100%;
  margin: 10% auto;
}

.portofolio-item-wrapper h2 {
  font-size: 1.8vw;
  font-weight: 500;
  margin-bottom: 30%;
}

.portofolio-item-wrapper img {
  width: 12vw;
  height: auto;
  transition: all 1s;
}

.portofolio-item-wrapper img:hover {
  transform: scale(1.2);
  transition: all 1s;
  cursor: pointer;
}

.portofolio-item {
  align-items: center;
}
