.stats-container {
  min-height: 100vh;
  margin-top: -12%;
  margin-bottom: 20%;
  background-size: cover;
  padding: var(--global-padding);
  padding-bottom: 10%;
  overflow: hidden;
}

.stats-container h1 {
  align-self: flex-end;
  font-size: 3.5vw;
  font-weight: 500;
  margin-top: 15%;
}

.stats-wrapper {
  height: 100%;
  width: 90%;
  margin: 10% auto;
  justify-content: space-between;
}

.tech-row {
  justify-content: space-between;
  align-items: center;
  margin: 5% 0;
}

.tech-row img {
  width: 4vw;
  height: auto;
  transition: all 0.3s ease-out;
}

.tech-row img:hover {
  transform: scale(1.3);
  transition: all 0.3s ease-out;
}

@media only screen and (max-width: 768px) {
  .stats-container {
    min-height: 120vh;
    background-size: cover;
    align-items: center;
    justify-content: center;
    background-position: 20%;
  }
  .stats-container h1 {
    font-size: 2rem;
    align-self: center;
    margin-top: 30%;
    margin-bottom: 10%;
  }
  .tech-row {
    flex-direction: column;
    justify-content: space-around;
  }
  .stats-wrapper {
    height: 70vh;
    flex-direction: row;
    margin: 0;
    justify-content: space-between;
  }
  .tech-row img {
    width: 3rem;
  }
}
